input {
    outline: none;
}

.box {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    position: relative;
    background-color: rgba(255, 0, 0, 0.55);
}

label {
    color: #ffffff;
    margin-right: 5px;
}

.reset {
    padding: 3px 3px 3px 10px;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -40px;
    left: 0;
    opacity: 0;
}

.text {
    margin-right: 5px;
}

.btn {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    border-right: 1px solid black;
    outline: 0;
    cursor: pointer;
}

.btn:before {
    content: '';
    height: 10px;
    width: 1px;
    background-color: #000000;
    position: absolute;
    transform: rotate(45deg);
    top: 4px;
    left: 8px;
}

.btn:after {
    content: '';
    height: 10px;
    width: 1px;
    background-color: #000000;
    position: absolute;
    transform: rotate(-45deg);
    top: 4px;
    left: 8px;
}

#price:focus {
    border-color: green;
}

#price:not(:focus) {
    border-color: transparent;
}

.correct-price {
    padding: 5px;
    position: absolute;
    bottom: -40px;
    left: 0;
    display: none;
    border: 1px solid red;
    background-color: #cbcbcb;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
